$width-size: 200px;

.catalog {
  display: grid;
  gap: 48px;
  justify-content: center;

  @media (min-width: 488px) {
    grid-template-columns: repeat(2, $width-size);
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, $width-size);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, $width-size);
  }

  &__card {
    display: grid;
    justify-content: center;
    align-items: center;
    width: $width-size;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
